In [48]:
import pandas as pd
import numpy as np

In [49]:
data = pd.read_csv('train.csv')
data

,Unnamed: 0,EMAIL,min_activity_average_met,max_activity_average_met,mean_activity_average_met,median_activity_average_met,min_activity_cal_active,max_activity_cal_active,mean_activity_cal_active,median_activity_cal_active,...,Q14_2,Q15,Q16_1,Q16_2,Q16_3,Q17,Q18,Q19,TOTAL,DIAG_NM
0,0,nia+279@rowan.kr,1.15625,1.71875,1.346191,1.312500,63,596,241.250000,198.5,...,2,2,1,2,2,2,2,2,29,MCI
1,1,nia+354@rowan.kr,1.06250,1.81250,1.460526,1.468750,19,984,457.508772,458.0,...,2,2,1,2,2,2,2,2,28,CN
2,2,nia+088@rowan.kr,1.09375,1.50000,1.287202,1.281250,40,325,211.380952,225.5,...,2,2,2,2,2,2,2,2,30,MCI
3,3,nia+343@rowan.kr,1.21875,1.65625,1.371472,1.375000,133,749,324.467742,335.0,...,2,2,2,2,2,2,2,2,27,CN
4,4,nia+016@rowan.kr,1.21875,1.62500,1.439366,1.437500,49,636,365.402985,376.0,...,2,2,2,2,2,2,2,2,30,MCI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,136,nia+240@rowan.kr,0.40625,1.87500,1.560417,1.578125,27,1114,686.316667,677.5,...,2,2,2,2,1,2,2,2,26,CN
137,137,nia+234@rowan.kr,1.12500,1.62500,1.416556,1.406250,82,911,502.957447,507.0,...,2,2,2,2,2,2,2,2,26,CN
138,138,nia+397@rowan.kr,1.28125,4.03125,1.741554,1.625000,306,2236,945.702703,848.0,...,2,2,2,2,2,2,2,2,28,CN
139,139,nia+451@rowan.kr,1.43750,2.75000,1.625822,1.593750,481,1266,660.394737,632.0,...,2,2,2,2,2,2,2,2,28,CN
140,140,nia+206@rowan.kr,1.28125,2.43750,1.607537,1.593750,83,1934,665.867647,655.5,...,2,2,1,1,2,1,2,2,16,CN

In [57]:
data["칼럼"] = data.DIAG_NM.map({"MCI":1,"CN":0, 'Dem':2})
X = data.iloc[:,-33:-2]
Y = data.iloc[:,-1]

In [58]:
X

,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11_1,...,Q14_1,Q14_2,Q15,Q16_1,Q16_2,Q16_3,Q17,Q18,Q19,TOTAL
0,2,2,2,2,2,2,2,2,2,2,...,2,2,2,1,2,2,2,2,2,29
1,2,2,2,2,2,2,2,2,2,2,...,2,2,2,1,2,2,2,2,2,28
2,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,30
3,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,27
4,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2,2,1,2,2,2,2,2,2,2,...,2,2,2,2,2,1,2,2,2,26
137,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,26
138,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,28
139,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,28
140,2,1,1,1,2,2,1,2,1,2,...,2,2,2,1,1,2,1,2,2,16

In [59]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
136    0
137    0
138    0
139    0
140    0
Name: 칼럼, Length: 141, dtype: int64

In [71]:
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state = 0)
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(n_estimators = 100, random_state = 0)

In [72]:
RF.fit(X_train, Y_train)

RandomForestClassifier(random_state=0)

In [75]:
RF.predict(X_test)

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0],
      dtype=int64)

In [76]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [77]:
scores = []

for i in range(10,100,5):
    RF = RandomForestClassifier(n_estimators=i, random_state=0)
    RF.fit(X_train, Y_train)
    att = RF.predict(X_test)
    acc = accuracy_score(Y_test, att)
    scores.append(acc)
    
    print('>%d, acc: %.3f' %(i, acc))

>10, acc: 0.651
>15, acc: 0.605
>20, acc: 0.628
>25, acc: 0.628
>30, acc: 0.605
>35, acc: 0.628
>40, acc: 0.605
>45, acc: 0.605
>50, acc: 0.628
>55, acc: 0.605
>60, acc: 0.628
>65, acc: 0.605
>70, acc: 0.605
>75, acc: 0.605
>80, acc: 0.581
>85, acc: 0.581
>90, acc: 0.581
>95, acc: 0.581

In [82]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(n_estimators=100)
forest.fit(X_train, Y_train)
list(forest.feature_importances_)

[0.0,
 0.0232599131973459,
 0.041170811559584776,
 0.003956183447310014,
 0.001638520661781601,
 0.0018522974829886575,
 0.06492197081112794,
 0.011369154279021809,
 0.036086263004189954,
 0.0,
 0.0,
 0.0,
 0.04880182281830615,
 0.04606307351830626,
 0.0355850523915961,
 0.05830162796079394,
 0.059624200723302205,
 0.0,
 0.02726087405271373,
 0.09681014982958888,
 0.06496246378585958,
 0.0016104965046154524,
 0.0,
 0.03890426591792203,
 0.05481190655029671,
 0.0022703704305632416,
 0.00668437618222177,
 0.013386330099325496,
 0.0003461368653421632,
 0.0009466797463261445,
 0.25937505817956963]